@font-face {
    font-family: 'minecraftiaregular';
    src: url('./fonts/minecraftia-webfont.eot');
    src: url('./fonts/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/minecraftia-webfont.woff') format('woff'),
         url('./fonts/minecraftia-webfont.ttf') format('truetype'),
         url('./fonts/minecraftia-webfont.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
input, button {
  font-size: 20px;
  padding: 5px;
  font-family: 'minecraftiaregular';
  border-style: ridge;
    border-top-color: #f7e26a;
    border-left-color: #f7e26a;
    border-bottom-color: #c79a36;
    border-right-color: #c79a36;
  width: 160px;
  color: #FFEA00;
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
  background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

ul {
  list-style-type: none;
}

#add_game {
  padding: 15px 10px 10px 40px;
}

input {
  width: 505px;
  border-style: ridge;
  background: white;
  color: black;

}

body {
  background: black;
}

.game {
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  width: 623px;
  padding: 20px 20px 10px 20px;
  font-family: 'minecraftiaregular';
/*  border-radius: 5px;
*/  color: #fff;
  margin-bottom: 20px;
  border-style: ridge;
    border-top-color: #f7e26a;
    border-left-color: #f7e26a;
    border-bottom-color: #c79a36;
    border-right-color: #c79a36;
}

.game h2 {
  color: #FFEA00;
}

.game h3 {
  color: red;
}

.game .left {
  width: 110px;
  float: left;
  margin-bottom: 10px;
}

.game .remove {
  color: grey;
  text-align: right;
  width: 50px;
  float: right;
  margin: 0;
  margin-top: -20px;
  margin-right: -40px;
}

.game .remove:hover {
  cursor: hand;
}

.game .right {
  width: 450px;
  float: left;
  padding: 0 20px;
}

.game .right h3 {
  margin-top: 0;
}
.game img {
  width: 100%;
}