@font-face {
    font-family: 'minecraftiaregular';
    src: url('./fonts/minecraftia-webfont.eot');
    src: url('./fonts/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/minecraftia-webfont.woff') format('woff'),
         url('./fonts/minecraftia-webfont.ttf') format('truetype'),
         url('./fonts/minecraftia-webfont.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
input, button {
  font-size: 20px;
  padding: 5px;
  font-family: 'minecraftiaregular';
  border-style: ridge;
    border-top-color: #f7e26a;
    border-left-color: #f7e26a;
    border-bottom-color: #c79a36;
    border-right-color: #c79a36;
  width: 160px;
  color: #FFF152;
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

ul {
  list-style-type: none;
}

#add_game {
  padding: 15px 10px 10px 40px;
}

input {
  width: 505px;
  border-style: ridge;
  background: white;
  color: black;

}

button {
text-shadow:1px 1px 0 black,
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
0px 1px 0 black,
1px 0px 0 black,
0px -1px 0 black,
-1px 0px 0 black;
}

body {
  background: black;
}

.loading {
font-size: x-large;  
position: absolute;
padding: 15px 10px 10px 40px;
width: 505px;
font-family: 'minecraftiaregular';
color: #FF3C00;
text-shadow:1px 1px 0 black,
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
0px 1px 0 black,
1px 0px 0 black,
0px -1px 0 black,
-1px 0px 0 black; 
display: none;
}

#game-template {
  display: none;
}

.game {
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
width: 623px;
  padding: 20px 20px 10px 20px;
  font-family: 'minecraftiaregular';
/*  border-radius: 5px;
*/  color: #fff;
  margin-bottom: 20px;
  border-style: ridge;
    border-top-color: #f7e26a;
    border-left-color: #f7e26a;
    border-bottom-color: #c79a36;
    border-right-color: #c79a36;
    text-shadow:1px 1px 0 black,
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
0px 1px 0 black,
1px 0px 0 black,
0px -1px 0 black,
-1px 0px 0 black,
4px 4px 3px #000;
}

.game h2 {
  color: #FFF152;
}

.game h3 {
  color: #FF3C00;
}

.game .left {
  width: 110px;
  float: left;
  margin-bottom: 10px;
  border:1px solid #021a40;

}

.game .remove {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  width: 50px;
  float: right;
  margin: 0;
  margin-top: -20px;
  margin-right: -45px;
  text-shadow: none;
}

.game .remove:hover {
  cursor: hand;
}

.game .right {
  width: 450px;
  float: left;
  padding: 0 20px;
}

.game .right h3 {
  margin-top: 0;
}
.game img {
  width: 100%;
}