@font-face {
    font-family: 'minecraftiaregular';
    src: url('./fonts/minecraftia-webfont.eot');
    src: url('./fonts/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/minecraftia-webfont.woff') format('woff'),
         url('./fonts/minecraftia-webfont.ttf') format('truetype'),
         url('./fonts/minecraftia-webfont.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
input, button {
  font-size: 20px;
  padding: 5px;
  font-family: 'minecraftiaregular';
  border-style: ridge;
    border-top-color: #f7e26a;
    border-left-color: #f7e26a;
    border-bottom-color: #c79a36;
    border-right-color: #c79a36;
  width: 160px;
  color: #fff432;
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

ul {
  list-style-type: none;
}

#add_game {
  padding: 15px 10px 10px 40px;
}

.container {
  margin: auto;
  width: 760px;
}

input {
  width: 505px;
  border-style: ridge;
  background: white;
  color: black;

}

button {
}

.high {
color: #00ff3c;
}

.medium {
color: #00c3ff;
}

.low {
color: #FF3C00;

}

.unrated {
color: #ff00c3;
}


.play {
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
}

.play img {
  height: 40px;
  margin-right: 20px;
}

header {
display: inline-block;
font-size: x-large;  
padding: 15px 10px 10px 40px;
width: 505px;
font-family: 'minecraftiaregular';
color: #fff432;
text-shadow:1px 1px 0 black,
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
0px 1px 0 black,
1px 0px 0 black,
0px -1px 0 black,
-1px 0px 0 black,
4px 4px 3px #000;
}


body {
background-color: #000;
}


.loading {
font-size: x-large;  
position: absolute;
padding: 15px 10px 10px 40px;
width: 505px;
font-family: 'minecraftiaregular';
color: #FF3C00;
text-shadow:1px 1px 0 black,
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
0px 1px 0 black,
1px 0px 0 black,
0px -1px 0 black,
-1px 0px 0 black,
4px 4px 3px #000;
display: none;
}

#game-template {
  display: none;
}

.game {
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
width: 623px;
  padding: 20px 20px 10px 20px;
  font-family: 'minecraftiaregular';
/*  border-radius: 5px;
*/  color: #fff;
  margin-bottom: 20px;
  border-style: ridge;
    border-top-color: #f7e26a;
    border-left-color: #f7e26a;
    border-bottom-color: #c79a36;
    border-right-color: #c79a36;
    text-shadow:1px 1px 0 black,
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
0px 1px 0 black,
1px 0px 0 black,
0px -1px 0 black,
-1px 0px 0 black,
4px 4px 3px #000;
}

.game h2 {
  color: #fff432;
}

/*.game h3 {
  color: #FF3C00;
}*/

.game .left {
  width: 110px;
  float: left;
  margin-bottom: 10px;
  border:1px solid #021a40;

}

.game .remove {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  width: 50px;
  float: right;
  margin: 0;
  margin-top: -20px;
  margin-right: -45px;
  text-shadow: none;
}

.game .remove:hover {
  cursor: hand;
}

.game .right {
  width: 450px;
  float: left;
  padding: 0 20px;
}

.game .right h3 {
  margin-top: 0;
}
.game img {
  width: 100%;
}

#galaxy {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transition: background 0.8s ease-out;
  -moz-transition: background 0.8s ease-out;
  -o-transition: background 0.8s ease-out;
  transition: background 0.8s ease-out;
}
#galaxy,
#galaxy .bg {
  width: 100%;
  height: 100%;
}
#galaxy * {
  position: absolute;
}
#galaxy .bg {
  background: url('bg.jpg') no-repeat 50% 50%;
}
#galaxy .bg.center {
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin: -100px 0 0 -200px;
  opacity: 0.8;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
#galaxy [class^="stars"] {
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#galaxy .stars-back {
  background: url('back.png');
  -webkit-animation: orbit-clock-wise 440s infinite linear;
  -moz-animation: orbit-clock-wise 440s infinite linear;
  -o-animation: orbit-clock-wise 440s infinite linear;
  -ms-animation: orbit-clock-wise 440s infinite linear;
  animation: orbit-clock-wise 440s infinite linear;
}
#galaxy .stars-middle {
  background: url('middle.png');
  -webkit-animation: orbit-counter-clock-wise 360s infinite linear;
  -moz-animation: orbit-counter-clock-wise 360s infinite linear;
  -o-animation: orbit-counter-clock-wise 360s infinite linear;
  -ms-animation: orbit-counter-clock-wise 360s infinite linear;
  animation: orbit-counter-clock-wise 360s infinite linear;
}
#galaxy .stars-front {
  background: url('front.png');
  -webkit-animation: orbit-clock-wise 160s infinite linear;
  -moz-animation: orbit-clock-wise 160s infinite linear;
  -ms-animation: orbit-clock-wise 160s infinite linear;
  -o-animation: orbit-clock-wise 160s infinite linear;
  animation: orbit-clock-wise 160s infinite linear;
}
@-webkit-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -webkit-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes orbit-counter-clock-wise {
  from { -webkit-transform: rotate(360deg); } to { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -moz-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -moz-transform: rotate(360deg); }
}
@-moz-keyframes orbit-counter-clock-wise {
  from { -moz-transform: rotate(360deg); } to { -moz-transform: rotate(0deg); }
}
@-o-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -o-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -o-transform: rotate(360deg); }
}
@-o-keyframes orbit-counter-clock-wise {
  from { -o-transform: rotate(360deg); } to { -o-transform: rotate(0deg); }
}
@-ms-keyframes orbit-clock-wise {
  0% { opacity: 0.4; -ms-transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; -ms-transform: rotate(360deg); }
}
@-ms-keyframes orbit-counter-clock-wise {
  from { -ms-transform: rotate(360deg); } to { -ms-transform: rotate(0deg); }
}
@keyframes orbit-clock-wise {
  0% { opacity: 0.4; transform: rotate(0deg); }
  2% { opacity: 0.8; }
  4% { opacity: 0.2; }
  5% { opacity: 0.8; }
  100% { opacity: 0.4; transform: rotate(360deg); }
}
@keyframes orbit-counter-clock-wise {
  from { transform: rotate(360deg); } to { transform: rotate(0deg); }
}
